adf-gold-market-2026/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-gold-market-2026"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSQLDatabase_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSQLDatabase_LS'"
		},
		"AzureSQLDatabase_LS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gold-market-srv-2026-xyz.database.windows.net"
		},
		"AzureSQLDatabase_LS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GoldMarketDB"
		},
		"AzureSQLDatabase_LS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "abdelaal"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Load_Gold_Bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fact_Gold_Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateKey",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Commodity_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Commodity_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Market_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Market_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Gram_24_USD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_24_USD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_21_USD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_21_USD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_24_EGP_Buy",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_24_EGP_Buy",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_21_EGP_Buy",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_21_EGP_Buy",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_24_EGP_Sell",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_24_EGP_Sell",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_21_EGP_Sell",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_21_EGP_Sell",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Gold_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Fact_Gold_Prices_SQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fact_Exchange_Rates",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateKey",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Currency_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Currency_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "USD_to_EGP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "USD_to_EGP",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Indicator_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Indicator_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_EXCHANG_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Fact_EXCHANG_Prices_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fact _OIL_Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateKey",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Commodity_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Commodity_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Brent_Crude_Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Brent_Crude_Price",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_oil_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Fact_OIL_Prices_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Process_Silver_Layer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fact _OIL_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Fact_Exchange_Rates",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "fact_Gold_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Transform_Bronze_To_Silver_All]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLDatabase_LS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Data')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_Gold_Prices_SQ')]",
				"[concat(variables('factoryId'), '/datasets/DS_EXCHANG_Data')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_EXCHANG_Prices_SQL')]",
				"[concat(variables('factoryId'), '/datasets/DS_oil_Data')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_OIL_Prices_SQL')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EXCHANG_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "f_ex.csv",
						"folderPath": "exchange data",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "USD_to_EGP",
						"type": "String"
					},
					{
						"name": "Currency_ID",
						"type": "String"
					},
					{
						"name": "Indicator_ID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Fact_EXCHANG_Prices_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDatabase_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DateKey",
						"type": "date"
					},
					{
						"name": "Currency_ID",
						"type": "varchar"
					},
					{
						"name": "USD_to_EGP",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Indicator_ID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Fact_Exchange_Rates"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Fact_Gold_Prices_SQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDatabase_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DateKey",
						"type": "date"
					},
					{
						"name": "Commodity_ID",
						"type": "varchar"
					},
					{
						"name": "Market_ID",
						"type": "varchar"
					},
					{
						"name": "Gram_24_USD",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Gram_21_USD",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Gram_24_EGP_Buy",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Gram_21_EGP_Buy",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Gram_24_EGP_Sell",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Gram_21_EGP_Sell",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Fact_Gold_Prices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Fact_OIL_Prices_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDatabase_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DateKey",
						"type": "date"
					},
					{
						"name": "Commodity_ID",
						"type": "varchar"
					},
					{
						"name": "Brent_Crude_Price",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Fact_Oil_Prices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "f_gold.csv",
						"folderPath": "gold data",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Gram_24_USD",
						"type": "String"
					},
					{
						"name": "Gram_21_USD",
						"type": "String"
					},
					{
						"name": "Gram_24_EGP_Buy",
						"type": "String"
					},
					{
						"name": "Gram_21_EGP_Buy",
						"type": "String"
					},
					{
						"name": "Gram_24_EGP_Sell",
						"type": "String"
					},
					{
						"name": "Gram_21_EGP_Sell",
						"type": "String"
					},
					{
						"name": "Commodity_ID",
						"type": "String"
					},
					{
						"name": "Market_ID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_oil_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "f_oil.csv",
						"folderPath": "oil data",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Brent_Crude_Price",
						"type": "String"
					},
					{
						"name": "Commodity_ID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLDatabase_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSQLDatabase_LS_properties_typeProperties_server')]",
					"database": "[parameters('AzureSQLDatabase_LS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSQLDatabase_LS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSQLDatabase_LS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Gold_Market_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Load_Gold_Bronze",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-07-05T09:00:00",
						"timeZone": "Egypt Standard Time",
						"schedule": {
							"minutes": [
								59
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Load_Gold_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Exchang')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Exchang",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateKey",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Currency_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Currency_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "USD_to_EGP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "USD_to_EGP",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Indicator_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Indicator_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_EXCHANG_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Fact_EXCHANG_Prices_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_EXCHANG_Data')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_EXCHANG_Prices_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gold",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateKey",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Commodity_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Commodity_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Market_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Market_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Gram_24_USD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_24_USD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_21_USD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_21_USD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_24_EGP_Buy",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_24_EGP_Buy",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_21_EGP_Buy",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_21_EGP_Buy",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_24_EGP_Sell",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_24_EGP_Sell",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Gram_21_EGP_Sell",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gram_21_EGP_Sell",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Gold_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Fact_Gold_Prices_SQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Data')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_Gold_Prices_SQ')]"
			]
		}
	]
}